<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Covid19-tracker!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Covid19-tracker Application</h1>
    <p>This application lists the current number of cases reported across the globe</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class="my-4">
        <p>
            <span><b>New cases reported since previous day:</b></span>
            <span th:text="${totalNewCases}"></span>
        </p>

    </div>

    <table class="table" bgcolor="#FFEFEC">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="locationStatIndex : ${locationStats}">
            <td th:text="${locationStatIndex.state}"></td>
            <td th:text="${locationStatIndex.country}"></td>
            <td th:text="${locationStatIndex.latestTotalCases}">0</td>
            <td th:text="${locationStatIndex.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>
</body>

</html>